.row {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.col-3 {
    grid-column: span 1;
    grid-row: span 1;
}